.cursor-server
.viminfo
.windsurf-server
*.swp

.eggs
*.egg-info
build
dist
*.pyc
.vscode
.mypy_cache
.hypothesis
obj
.ipynb_checkpoints
result
.direnv
.envrc
.venv
.jupyter_cache/
jupyter_execute/
.vscode-server
.lightning_studio
.wget-hsts
.idea
site/